<div class="chatspace-content__info">
  チャットグループが作成されました。
</div>
<div class="chatspace__admin">
  <div class="chatspace__admin--back-black">
    <p>username</p>
  </div>
  <div class="chatspace__admin__history">
    <p>username</p>
    <span>まだメッセージはありません。</span>
    <p>username</p>
    <span>まだメッセージはありません。</span>
    <p>username</p>
    <span>まだメッセージはありません。</span>
  </div>
</div>
<div class="chatspace__message">
  <div class="chatspace__message--back-white">
  </div>
  <div class="chatspace__message__chat">
  </div>
  <div class="chatspace__message__type">
  </div>
</div>
