$sky-blue: #38AEF0;
$back-black: #253141;
$back-thin-black: #2f3e51;
$black: #333333;
$gray: #999999;
$back-thin-gray: #FAFAFA;
$black-font: #434a54;
$back-thick-gray: #DDDDDD;
$white: white;
$white-font: #fff;
