$sky-blue-color: #38AEF0;
$back-black-color: #253141;
$back-thin-black-color: #2f3e51;
$black-color: #333333;
$gray-color: #999999;
$back-thin-gray-color: #FAFAFA;
$black-font-color: #434a54;
$back-thick-gray-color: #DDDDDD;
$white-color: white;
$white-font-color: #fff;
